.auth-page{

background:linear-gradient(135deg,#0f172a,#1e293b);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.auth-container{

width:100%;

display:flex;

justify-content:center;

align-items:center;

}

.auth-card{

background:#1e293b;

padding:45px;

width:420px;

border-radius:22px;

box-shadow:0 15px 45px rgba(0,0,0,.35);

animation:fade .8s;

}

.auth-card h1{

margin-bottom:10px;

font-size:34px;

}

.auth-card p{

margin-bottom:30px;

color:#94a3b8;

}

label{

display:block;

margin-bottom:8px;

margin-top:18px;

}

input{

width:100%;

padding:15px;

border-radius:12px;

border:none;

background:#334155;

color:white;

font-size:16px;

}

input:focus{

outline:2px solid #3b82f6;

}

.password-box{

position:relative;

}

.password-box button{

position:absolute;

right:15px;

top:50%;

transform:translateY(-50%);

background:none;

border:none;

cursor:pointer;

font-size:18px;

color:white;

}

.login-button{

margin-top:28px;

width:100%;

padding:15px;

background:#2563eb;

border:none;

color:white;

font-size:17px;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.login-button:hover{

background:#3b82f6;

transform:translateY(-2px);

}

.divider{

display:flex;

align-items:center;

margin:30px 0;

}

.divider::before,

.divider::after{

content:"";

flex:1;

height:1px;

background:#475569;

}

.divider span{

padding:0 15px;

color:#94a3b8;

}

.google,

.github{

width:100%;

padding:14px;

margin-bottom:15px;

border-radius:12px;

border:none;

cursor:pointer;

font-size:15px;

display:flex;

align-items:center;

justify-content:center;

gap:12px;

background:white;

color:black;

transition:.3s;

}

.google img,

.github img{

width:22px;

}

.google:hover,

.github:hover{

transform:translateY(-2px);

}

.bottom{

margin-top:20px;

text-align:center;

}

.bottom a{

color:#60a5fa;

text-decoration:none;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}